.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}
.p-text {
  color: var(--gray-color);
}
.icon-container{
  width: 3rem;
  height: 3rem;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
}

.icon-container{
  color: var(--primary-blue);
}